# Python
__pycache__/
*.py[cod]

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# Python caches
.pytest_cache/
.mypy_cache/

# Node.js
node_modules/

# Build folders
dist/
build/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db